@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Luckiest+Guy');

.container {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/* Needed to position the navbar */
  max-height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*-------The logo and title position--------*/

.boxhome {
  display: block;
  width: 100%;
  height: 100%;
}

.boxheading {
  display: inline-block;
  color: black;
  width: 100%;
  height: 20vh;
  bottom: 0px;
  right: 0px;
}

.App-logo {
  height: 85px;
  width: 100px;
  float: left;
  display: inline-block;
  padding-left: calc(100% - 450px);
  padding-top: 30px;
  padding-bottom: 5px;
  max-height: 100%;
}

.name {
  display: block;
  float: right;
  font-size: calc(10px + 1vmin);
  text-align: right;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 10px;
  line-height: 1;
  max-height: 100%;

}

.boxhello {
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: calc(12px + 8vmin);
  width: 100%;
  height: 70vh;
}

.helloText {
padding-top: 5%;
 animation: slidein;
  animation-duration: 4s;
  z-index: 2;
}
/*-------The Navigation design--------*/


.navigation {
  color: black;
  background: none;
  border: none;
  font-size: calc(10px + 3vmin);
  font-weight: bolder;
  width:25%;
  cursor: pointer;
  padding-top: 17px;
  font-family: 'Indie Flower', cursive;
}
.navigation:hover {
    animation: nudge .4s linear;
  }

.navigation:focus {
  outline: none;
}

.boxmenu {
  display: block;
  margin-left: 0px;
  width: 100%;
  height: 10%;
}

/*-------handle the main box----*/
.boxmain {
  width: 100%;
  display: block;
  color: black;
  height: 90%;
  font-size: calc(12px + 2vmin);
}

/*----------------About component-------------*/

.anna {
  display: block;
  margin-right: 10px;
  margin-top: 20px;
  float: right;
  width: 240px;
  height: 380px;
}

.aboutMe {
  text-align: left;
  padding-left: 10px;
  font-size: calc(13px + 2vmin);
  font-family: 'Indie Flower', cursive;

}

.about {
  font-family: "Josefin Slab", serif;
}



/*------------My work component-------------*/

.container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  width: 100%;
}
.featuredWork {
  font-size: calc(12px + 3vmin);
}

.box {
  width: 33%;
  min-height: 150px;
}

.projects {
  width: 250px;
}

.projectNames {
  color: black;
  font-size: 130%;
  text-align: center;
}

.projectNames:hover {
  color: #a3a375;
}

a {
    text-decoration: none !important;
  }

.theRunner
.matchingGame
.plovdiv
.pam
.myReads
.snail {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height:30%;
}

/*--------------Contact---------*/

.contact {
  font-size: calc(10px + 10vmin);
}
.social:hover {
  animation: nudge .4s linear;
}
/*--------------Animations---------*/

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes nudge {

  0% {
    transform: rotate(-5deg);
  }

  33% {
    transform: rotate(5deg);
  }

  66% {
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 500px) {
.App-logo {
height: 65px;
width: 70px;
padding-left: 5px;
padding-bottom: 10px;
max-height: 100%;
}

.name {
  float: right;
  width: 70%;
  font-size: calc(12px + 1vmin);
  text-align: right;
  padding-right: 5px;
  line-height: 0.5;
  max-height: 100%;
}

.anna {
  margin-right: 5px;
  margin-top: 5px;
  float: right;
  width: 200px;
  height: 297px;
}
.box {
  width: 100%;
  min-height: 150px;
}
.theRunner
.matchingGame
.plovdiv
.pam
.mockup
.snail {
  width: 100%;
  height:30%;
}

}
@media screen and (min-width: 501px) {
  .box {
    width: 50%;
    min-height: 150px;
  }
  .theRunner
  .matchingGame
  .plovdiv
  .pam
  .mockup
  .snail {
    width: 50%;
    height:30%;
  }
  }

@media screen and (min-width: 800px) {
  .box {
    width: 30%;
    min-height: 150px;
  }
  .theRunner
  .matchingGame
  .plovdiv
  .pam
  .mockup
  .snail {
    width: 30%;
    height:30%;
  }
}
