@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");


.container {
  text-align: center;
  font-family: "Josefin Slab", serif;
  background-image: url('./sand.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
/* Needed to position the navbar */
  height: 100vh;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  height: 85px;
  width: 100px;
  float: left;
  display: inline-block;
  padding-top: 4vh;
  padding-left: 60%;
}

.boxheading {
  animation: slidein;
  animation-duration: 3s;
  display: block;
  font-size: calc(10px + 1vmin);
  color: white;
  width: 100%;
  max-height: 20%;
  height: 16vh;
  padding-top: 70vh;
}

.name {
  display: block;
  float: right;
  width: 40vmin;
  text-align: right;
  padding-right: 15px;
}

.navigation {
  color: white;
  background: none;
  border: none;
  font-size: calc(10px + 3vmin);
  font-style: italic;
  font-weight: bolder;
  width:25%;
  cursor: pointer;
  padding-top: 15px;
}
.navigation:hover {
    animation: nudge .4s linear;
  }

.navigation:focus {
  outline: none;
}

.boxmenu {
  display: block;
  margin-left: 0px;
  width: 100%;
  max-height: 15vh;
}

.boxmain {
  width: 100%;
  display: block;
  top: 20%;
  color: white;
  background-color: rgba(28,28,28,0.7);
  font-size: calc(10px + 2vmin);
  height: 85vh;
  vertical-align: baseline;
}

.anna {
  display: block;
  margin-right: 20px;
  float: right;
  width: 12%;
  height:25vh;
}
.container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.work {
  width: 100%;
  font-size: 16px;
}

.box {
  width: 33%;
  min-height: 150px;
}

.projects {
  width: 250px;
}

.projectNames {
  color: white;
  font-size: 150%;
  text-align: center;
}

a {
    text-decoration: none !important;
}

.theRunner
.matchingGame
.plovdiv
.pam
.mockup
.snail {
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  height:30%;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes nudge {

  0% {
    transform: rotate(-5deg);
  }

  33% {
    transform: rotate(5deg);
  }

  66% {
    transform: rotate(-5deg);
  }
}
